.custom-post {
    display: flex; /* Flexbox для горизонтального вирівнювання елементів */
    justify-content: flex-start; /* Вирівнює елементи по горизонталі на ліво */
    align-items: center; /* Вирівнювання елементів по вертикалі (зображення та текст) */
    margin-bottom: 15px; /* Відстань між постами */
    padding: 10px;
    border: 1px solid #ddd; /* Рамка навколо кожного посту */
    border-radius: 5px; /* Краї з округленими кутами (опційно) */
    transition: transform 0.3s ease, color 0.3s ease;
    background-color: rgba(4, 107, 210, 0.07);
}

.custom-post:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(4, 107, 210, 0.3);
}

.custom-post img {
    max-width: 100px; /* Зображення меншого розміру */
    height: auto;
    margin-right: 15px; /* Відступ між зображенням і текстом */
    order: -1; /* Переміщає зображення вліво */
}

.custom-post p {
    margin: 0;
    font-size: 16px; /* Розмір шрифта для заголовка */
}